{% extends 'base.html' %} {% load static %} {% block content %}

<!-- section-header.// -->

<section class="section-content padding-y bg">
  {% if not cart %}
  <h2 class="text-center">Your Cart is empty</h2>
  <div class="text-center mt-5">
    <a href="{% url 'store' %}">
      <button class="btn btn-primary">Continue Shopping</button></a
    >
  </div>
  {% else %}

  <div class="container">
    <!-- ============================ COMPONENT 1 ================================= -->

    <div class="row">
      <aside class="col-lg-9">
        <div class="card">
          <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
              <tr class="small text-uppercase">
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" class="text-right" width="200"></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart %}

              <tr>
                <td>
                  <figure class="itemside align-items-center">
                    <a
                      href="{{ item.product.get_url }}"
                      class="title text-dark"
                    >
                      <div class="aside">
                        <img src="{{item.product.photo.url}}" class="img-sm" />
                      </div>
                    </a>
                    <figcaption class="info">
                      <a
                        href="{{ item.product.get_url }}"
                        class="title text-dark"
                        >{{item.product.product_name}}</a
                      >

                      <p class="text-muted small">
  {% for v in item.variations.all %}
    <strong>{{ v.variation_category|capfirst }}</strong>: {{ v.variation_value }}<br>
  {% empty %}
    No variations
  {% endfor %}
</p>
                      </p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <!-- col.// -->
                  <div class="col">
                    <div class="input-group input-spinner">
                      <div class="input-group-prepend">
                        <button
                          class="btn btn-light"
                          type="button"
                          id="button-plus"
                        >
                          <a href="{% url 'subcart' item.product.id  item.id%}">
                            <i class="fa fa-minus"></i
                          ></a>
                        </button>
                      </div>
                      <input
                        type="text"
                        class="form-control"
                        value="{{item.quantity}}"
                      />
                      <div class="input-group-append">
                      <form action="{% url 'addcart' item.product.id %}" method="POST">
  {% csrf_token %}

  <!-- Hidden variations -->
  {% for v in item.variations.all %}
    <input type="hidden" name="{{ v.variation_category }}" value="{{ v.variation_value }}">
  {% endfor %}

  <button class="btn btn-light" type="submit">
    <i class="fa fa-plus"></i>
  </button>
</form>
                      </div>
                    </div>
                    <!-- input-group.// -->
                  </div>
                  <!-- col.// -->
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price">{{item.sub_total}}</var>
                    <small class="text-muted"> ${{item.product.price}} </small>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <a
                    href="{% url 'removecart' item.product.id item.id %}"
                    class="btn btn-danger"
                  >
                    Remove</a
                  >
                </td>
              </tr>
              <tr></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">{{total}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right">{{tax}}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-right text-dark b">
                <strong>{{full_total}}</strong>
              </dd>
            </dl>
            <hr />
            <p class="text-center mb-3">
              <img src="./images/misc/payments.png" height="26" />
            </p>
            <a href="./place-order.html" class="btn btn-primary btn-block">
              Checkout
            </a>
            <a href="./store.html" class="btn btn-light btn-block"
              >Continue Shopping</a
            >
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
    <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
  </div>
  {% endif %}
  <!-- container .//  -->
</section>
{% endblock %}
